<h1>Please enter a new password</h1>

<form method="post" action="/users/reset" >
	Password: <input name="password" type="password"><br>
	Password Confirmation: <input name="password_confirmation" type="password"><br>
	<input type="submit" value="Send email">
</form>